spring:
  datasource:
    url: jdbc:mysql://localhost:3306/kibaeon?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

server:
  port: 8080

jwt:
  secret: KIBAEON_SECRET_KEY_JUHONG_123123
  expiration: 86400000

cors:
  allowed-origins: "http://localhost:5173"